<% layout("/layouts/boilerplate") %>
<style>
    @media screen and (max-width: 768px) {
   .auth-buttons {
     top: 10px;
     right: 10px;
     padding: 8px;
   }
 
   .h1 {
     margin-top: 150px; /* Extra space for mobile */
   }

   .sign{
    margin-bottom: 20px;
    margin-left: 20px;
   }
 }
 </style>
<div class="row mt-3">
    <h1 class="col-6 offset-5 mb-3 h1" style="color: #ed3d6f;"><b>Login</b></h1>
    <div class="col-6 offset-3">

        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter Username" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
           

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter Password" class="form-control" required>
              
            </div>

            <button class="btn btn-dark btn-add offset-5 mt-3 sign">Login</button>
    </div>
</div>